.jumbotron{
    color: white;
    background-color:#007bff;
   
    
}

.blue{
    color: white;
    background-color:#007bff;

}




form{
    margin-left: 50px;
}

.bg-primary{
margin-right: 50px;
border-color: black;
border-radius: 5px;

}

.fiveDay{
margin: 40px;


}

.uvIndexText{
    float: left;
    
}

.uvIndex {
    background-color: red;
    color: white;
    border: 1px solid #007bff;
    display: flex;
    font-weight: bold;
    font-size: 1.25rem;
    
}