
/* .container {
  float: left;
  flex-flow: wrap;
} */
 h1 {
   color: white;
 } 
.card-body.h1 {
    color: white;
    justify-content: center;    
}

.card-body.h5, .card-body.p {
  color: white;
}

.search {
  color: black;
}

.jumbotron {
  padding: 5px;
}

#submit {
  background-color: dodgerblue;
}
.card-body {
  text-align: center;
  background-color: dodgerblue;
  justify-content: space-around;
  float: right;
}
i {
  color: white;
}
/* .container {
  margin: 0 auto;
  flex-wrap: wrap;
} */
/* .card  {
  flex-wrap: wrap;
} */
/* .col-sm-2 {
  max-width: 100%;
} */
.col-sm-4 {
  flex-wrap: wrap;
  justify-content: flex-start;
}
