
.container {
  float: left;
  flex-flow: wrap;
}
  
h1 {
    color: white;
    justify-content: center;    
}

h5, p {
  color: white;
}

.search {
  color: black;
}

.jumbotron {
  padding: 5px;
}

#submit {
  background-color: dodgerblue;
}
.card-body {
  background-color: dodgerblue;
  justify-content: space-around;
  float: left;
}
i {
  color: white;
}
/* .container {
  margin: 0 auto;
  flex-wrap: wrap;
} */
.card  {
  flex-wrap: wrap;
}
.col-sm-2 {
  max-width: 100%;
}
.col-sm-4 {
  flex-wrap: wrap;
  justify-content: flex-start;
}
.row 