
/* .container {
  float: left;
  flex-flow: wrap;
} */
 h1 {
   color: white;
 } 
  #city-data {
   text-align: left;
 }
.card-body.h1 {
    color: white;
    justify-content: center;    
}

#five-day {
  margin-right: 0;
    margin-left: 0;
    text-align: center;
    margin: 0 auto;
    justify-content: space-around;
}
.card-body.h5, .card-body.p {
  color: white;
}
#city-data {
  background-color: white;
}
.search {
  color: black;
}

.jumbotron {
  padding: 5px;
}

#submit {
  background-color: dodgerblue;
}
.card-body {
  text-align: left;
  background-color: dodgerblue;
  /* justify-content: space-around; */
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
}
i {
  color: white;
}

.col-sm-2 {
  flex-wrap: wrap;
  justify-content: flex-start;
}
